*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar .logo{
    height: 120px;
}
.navbar .logo img{
    height: 100%;
}
.navbar .search input{
    height: 30px;
    width: 200px;
    padding: 0 10px;
    border: none;
    border-radius: 6px;
}
.navbar .search img{
    position: relative;
    transform: translateY(140%);
    
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-right: 20px;
}
nav ul li a{
    display: block;
    height: 120px;
    line-height: 120px;
    text-decoration: none;
    color: #555;
}
nav ul li a img{
    position: relative;
    transform: translate(0%,80%);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.container img{
    margin-bottom: 30px;
    width: 100%;
    border-radius: 10px;
}
.header{
    background:  rgb(230, 228, 228);
    margin-bottom: 30px;
}
.categories{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 470px;
}
.title_product{
    font-weight: 600;
    transition: width 1s ease-in-out;
    display: inline-block;
    border-bottom: 1px solid black;
    margin-top: 10px;
    width: 0px;
    font-size: 27px;
}
.title_product:hover{
    width: 100%;

}
.product{
    width: 23%;
    transition: 0.5s;
    padding: 10px;
    border-radius: 10px;
}
.product h3{
    color: #555;
    font-size: 100;
    margin: 5px 20px;
    font-weight: 600;
}
.product img{
    width: 90%;
    transition: 0.5s;
}
.product:hover{
    box-shadow: 0px 0px 10px #555;
}
.product:hover img{
    width: 100%;
}
.product h4{
    color: red;
    font-weight: 400;
    margin: 5px 20px;
    display: inline;
}
.product span{
    text-decoration: line-through;
    margin: 5px 20px;
    font-weight: 400;
    font-size: 13px;
}
.product a{
    text-decoration: none;
    color: #555;
    border-radius: 10px;
    font-size: 15px;
    padding: 6px;
    display: inline-block;
    background-color: #fec9cb;
    margin: 10px 20px;
}
.product a:hover{
    color: rgb(41, 41, 41);
    background-color: #fea4b0;
}
.footer{
    margin-top: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #555;
    background-color: rgb(187, 185, 185);
}
